<!-- <div class="container-divider"></div> -->
   <nav class="communitypages-sub-nav sub-nav">
    
    <div class="search-container">
      <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" class="search-icon">
<path d="M3.6396 15.843C4.60488 18.1143 6.4329 19.9091 8.72151 20.8326C11.0101 21.7561 13.5719 21.7327 15.8432 20.7674C18.1145 19.8021 19.9093 17.9741 20.8328 15.6855C21.7563 13.3969 21.7328 10.8351 20.7675 8.56382C19.8023 6.29252 17.9742 4.49769 15.6856 3.5742C13.397 2.6507 10.8353 2.67417 8.56397 3.63945C6.29266 4.60473 4.49784 6.43275 3.57434 8.72137C2.65084 11.01 2.67432 13.5717 3.6396 15.843Z" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18.7831 18.7827L26 26.0007" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

<!--       <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg> -->
      {{search scoped=settings.scoped_community_search submit=false}}
    </div>
  </nav>
{{breadcrumbs}}
<div class="container">


  <header class="page-header">

    <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            <h2 class="title">
              Feedback Topics
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"></path>
            </svg>
          </button>
        <span class="dropdown-menu" role="menu">
          <a role="menuitem" aria-selected="true" href="/hc/en-us/community/topics">
            Show topics
          </a>
          <a role="menuitem" href="/hc/en-us/community/posts">
            Show all posts
          </a>
        </span>
      </span>
    <span class="post-to-community">
      <a class="community-create-a-post button button-large" href="/hc/en-us/community/posts/new">Create a post</a>
    </span>
  </header>
  <div class="community-topic-page-parent">
  <div class="community-topic-page">
    <div class="parent-header-container">
    <div id="community-detailicon-{{topic.id}}" style="height:68px;"></div>
    <div class="topic-encloser">
        <span class="topic-name">
        {{topic.name}}
        {{#if topic.internal}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
            <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
            <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
          </svg>
        {{/if}}
      </span>
    <div class="community-description-header">
      <span class="page-header-description">{{topic.description}}</span>
    </div>
    </div>
    </div>
    {{#if settings.show_follow_topic}}
        <div class="community-follow">
          {{subscribe}}
        </div>
    {{/if}}
  <div class="topic-header">
    <span class="topic-filters">
      <span class="dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{current_filter.label}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
        </button>
        <span class="dropdown-menu" role="menu">
          {{#each filters}}
            <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
              {{name}}
            </a>
          {{/each}}
        </span>
      </span>
      <span class="dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{current_sorter.label}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
        </button>
        <span class="dropdown-menu" role="menu">
          {{#each sorters}}
            <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
              {{name}}
            </a>
          {{/each}}
        </span>
      </span>
    </span>
  </div>

  <div id="main-content" class="posts-list striped-list">
    {{#each posts}}
      <section role="region" aria-labelledby="title-{{id}}">
        <div class="striped-list-item {{#if featured}}post-featured{{/if}}">
          <span class="striped-list-info">
            <a href="{{url}}" id="title-{{id}}" class="striped-list-title">{{title}}</a>
            <span class="post-overview-item">
              {{#if pinned}}
                <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
              {{/if}}

              {{#if featured}}
                <span class="status-label status-label-featured">{{t 'featured'}}</span>
              {{/if}}

              {{#is status 'none'}}
              {{else}}
                <span class="status-label-{{status_dasherized}} status-label striped-list-status">{{status_name}}</span>
              {{/is}}
            </span>

            <ul class="meta-group">
              <li class="meta-data">{{author.name}}</li>
              {{#if editor}}
                <li class="meta-data">{{date edited_at timeago=true}}</li>
                <li class="meta-data">{{t 'edited'}}</li>
              {{else}}
                <li class="meta-data">{{date created_at timeago=true}}</li>
              {{/if}}
            </ul>
          </span>

          <div class="post-overview-count striped-list-count">
            <span class="striped-list-count-item">
              <span class="striped-list-number">{{vote_sum}}</span>
              {{t 'vote' count=vote_sum}}
            </span>
            <span class="striped-list-count-item">
              <span class="striped-list-number">{{comment_count}}</span>
              {{t 'comment' count=comment_count}}
            </span>
          </div>
        </div>
      </section>
    {{/each}}
    </div>
  </div>
  </div>
  {{pagination}}
</div>
  <div id="other-articles">
    <div class="container">

      <ul class="tab-switcher">
        <li><a href="#top-articles">Featured Posts</a></li>
        <li><a href="#recently-viewed">Recent activity (Community)</a></li>
      </ul>

      <div id="top-articles">
       {{#if featured_posts}}
        <section class="section community-featured-posts">
          <ul class="article-list promoted-articles">
            {{#each featured_posts}}
              <li class="promoted-articles-item">
                {{!--#each path_steps}}
                {{#isnt @index 0}}
              	{{name}}<br/>
                {{/isnt}}
              {{/each--}}
                <a href="{{url}}">
                  <strong>{{title}}</strong>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
      </div>

      <div id="recently-viewed">
        <section class="community-activity activity">
          {{#if help_center.community_enabled}}
            {{recent_activity scope='community'}}
          {{/if}}
        </section>
      </div>
    </div>
  </div>
<!-- <section class="container community-footer">
  <h2 class="community-footer-title">{{t 'suggest_new_post'}}</h2>
  {{link 'new_post' class='button button-large'}}
</section> -->
